<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>$schema</key>
	<string>https://raw.githubusercontent.com/martinring/tmlanguage/master/tmlanguage.json</string>
	<key>name</key>
	<string>yarn.lock</string>
	<key>patterns</key>
	<array>
		<dict>
			<key>include</key>
			<string>#comments</string>
		</dict>
		<dict>
			<key>include</key>
			<string>#resolved-url</string>
		</dict>
		<dict>
			<key>include</key>
			<string>#integrity-hashes</string>
		</dict>
		<dict>
			<key>include</key>
			<string>#package-version</string>
		</dict>
		<dict>
			<key>include</key>
			<string>#keywords</string>
		</dict>
	</array>
	<key>repository</key>
	<dict>
		<key>comments</key>
		<dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>begin</key>
					<string>^\s*#</string>
					<key>captures</key>
					<dict>
						<key>0</key>
						<dict>
							<key>name</key>
							<string>punctuation.definition.comment</string>
						</dict>
					</dict>
					<key>end</key>
					<string>$</string>
					<key>name</key>
					<string>comment.line</string>
				</dict>
			</array>
		</dict>
		<key>integrity-hashes</key>
		<dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>begin</key>
					<string>(integrity)\s+</string>
					<key>beginCaptures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>name</key>
							<string>keyword</string>
						</dict>
					</dict>
					<key>end</key>
					<string>\n</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>match</key>
							<string>\S+</string>
							<key>name</key>
							<string>constant.character</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<key>keywords</key>
		<dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>match</key>
					<string>\b(dependencies|integrity|name|optionalDependencies|resolved|version)\b</string>
					<key>name</key>
					<string>keyword</string>
				</dict>
			</array>
		</dict>
		<key>package-version</key>
		<dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>match</key>
					<string>"(?:\*|[^"a-zA-Z]*\d[^"a-zA-Z]*)"</string>
					<key>name</key>
					<string>entity.name.function</string>
				</dict>
				<dict>
					<key>begin</key>
					<string>(version)\s+</string>
					<key>beginCaptures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>name</key>
							<string>keyword</string>
						</dict>
					</dict>
					<key>end</key>
					<string>\n</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>match</key>
							<string>"?[^"]+"?</string>
							<key>name</key>
							<string>entity.name.function</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<key>resolved-url</key>
		<dict>
			<key>begin</key>
			<string>"(?=https?:)</string>
			<key>end</key>
			<string>"</string>
			<key>name</key>
			<string>string.quoted.double</string>
			<key>patterns</key>
			<array/>
		</dict>
	</dict>
	<key>scopeName</key>
	<string>text.yarnlock</string>
</dict>
</plist>
